/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playpen+Sans:wght@300;400&family=Poppins:wght@300&family=Roboto+Mono:wght@200&display=swap');

/* Configuración de estilos de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
  /* Otras reglas base si es necesario */
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #223B58;
}

.loader > .fa-paw {
  font-size: 30px;
  opacity: 0; /* Inicialmente ocultamos todas las patas */
}

.paw-1 {
  transform: rotate(20deg) translateY(-20px);
  animation: show-paw-1 1.5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
}

.paw-2 {
  transform: rotate(20deg) translateY(-40px);
  animation: show-paw-2 1.5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
}

.paw-3 {
  transform: rotate(20deg) translate(-60px, -60px);
  animation: show-paw-3 1.5s ease-in-out infinite;
  animation-timing-function: ease-in-out;
}

@keyframes show-paw-1 {
  0%, 20% {
     opacity: 1;
  }
  /* 21%, 33% {
     opacity: 0.5;
  } */
  34%, 100% {
     opacity: 0;
  }
}

@keyframes show-paw-2 {
  0%, 33% {
     opacity: 0;
  }
  /* 34%, 50% {
     opacity: 0.5;
  } */
  51%, 66% {
     opacity: 1;
  }
  /* 67%, 83% {
     opacity: 0.5;
  } */
  84%, 100% {
     opacity: 0;
  }
}

@keyframes show-paw-3 {
  0%, 66% {
     opacity: 0;
  }
  /* 67%, 83% {
    opacity: 0.5;
 } */
 84%, 95% {
    opacity: 1;
 }
 95%, 100%{
   opacity: 0;
 }
}

.colorr{
   background-color: #143f6eea;
   transition: background-color 0.3s ease-in-out;
}

.bg-all{
   background-color: #add8e658!important;
}

.bg-tbl{
   background-color: #2d393d58!important;
}


.divcol{
   opacity: 0.5;
}

.customColor{
   color: #455a64;
}