/* global */
body {
    margin: 0;
    background-color: #143F6E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}

/* navbar */
.navbar {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.logo img {
    max-height: 40px; /* Ajusta según tus necesidades */
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* grid */
.two-columns-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */

    /* Centra el contenido horizontal y verticalmente en cada celda del grid */
    align-items: center;
    justify-items: center;
}

/* Contenedor de tres columnas */
.three-column-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Estilos para cada columna */
.column {
    text-align: center;
}

.column img {
    max-width: 100%;
    height: 300px; /* Establece la altura máxima que desees */
    width: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el contenido */
    border-radius: 8px;
}

.column h2 {
    margin: 20px 0;
    color: white; /* Cambia el color del título según tus preferencias */
}

.column p {
    color: white; /* Cambia el color del párrafo según tus preferencias */
    margin: 20px;
}


/* styles */
.text {
    /* Estilos para el texto en la columna izquierda */
    text-align: center;
    color: white; /* Cambia el color del texto según tus preferencias */
}

.image {
    /* Estilos para la imagen en la columna derecha */
    max-width: 90%; /* Ajusta el tamaño máximo de la imagen según tus necesidades */
    height: auto; /* Hace que la imagen sea responsive */
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 70px;
    line-height: 110%;
}

.center {
    text-align: center;
}

/* buttons */
.blueButton {
    background-color: #2EA8DB;
    color: white;
    text-align: center;
    height: 77px;
    width: 178px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 43px;
    border: 2px solid #2EA8DB;
    box-sizing: border-box;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.blueButton:hover {
    background-color: #1c7bbd; /* Nuevo color al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cambio en la sombra */
}

.clearButton {
    background-color: transparent;
    color: white;
    text-align: center;
    height: 77px;
    width: 178px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 43px;
    border: 2px solid #2EA8DB; /* Añade el estilo del borde */
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.clearButton:hover {
    background-color: #1c7bbd; /* Nuevo color al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cambio en la sombra */
}

.button-container {
    display: flex;
    flex-direction: row; 
    gap: 50px;
    align-items: center;
}